body{
	font-family: 'Roboto', sans-serif;
}
.caja{
	background-color: #9B0022;
}

header{
	text-align: center;
}

.back{
	background-image: url(http://lorempixel.com/1024/600/cats/);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: ;
}

.back .container{
	background-color: rgba(255,255,255, 0.5);
	position: relative;
	height: 100vh;
}

.texto{
	position: absolute;
	top: 40%;
	left: 35%;
}

.col-4 img{
	/*max-width: 100% ajusta el ancho de tu imagen a la columna, esto siempre que la imagen sea mas grande*/
	width: 100%; /*ajusta la imagen si es mas chica*/
}
.boton{
	background-color: blue;
}